server {
    listen 80;
    server_name {{ postfix.myhostname }};
    deny all;
}

server {
    listen 80;
    server_name {{ wordpress.host_without_www }};
    rewrite ^(.*)$ https://{{ wordpress.host }}$1 last;
}

server {
    listen 80;
    server_name {{ wordpress.host }};
    rewrite ^(.*)$ https://{{ wordpress.host }}$1 last;
}

server {
    listen 443 ssl http2;
    server_name {{ wordpress.host }};
    root /var/www/{{ wordpress.host }};
    index index.php;
    charset utf-8;
    fastcgi_read_timeout {{ nginx.fastcgi_read_timeout }};

    ssl_certificate /etc/nginx/ssl/server.pem;
    ssl_certificate_key /etc/nginx/ssl/server.key;

    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout  5m;

    ssl_ciphers AESGCM:HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;

    ssl_dhparam /etc/nginx/ssl/dhparam.pem;

    add_header Strict-Transport-Security 'max-age=31536000; includeSubdomains';
    add_header X-Content-Type-Options nosniff;
    add_header X-Frame-Options DENY;

    access_log on;
    access_log  /var/log/nginx/{{ wordpress.host }}.frontend.access.log main;
    error_log   /var/log/nginx/{{ wordpress.host }}.frontend.error.log warn;

    # log off
    location = /favicon.ico { empty_gif; access_log off; log_not_found off; }
    location = /apple-touch-icon.png { access_log off; log_not_found off; }
    location = /apple-touch-icon-precomposed.png { access_log off; log_not_found off; }
    location = /robots.txt { access_log off; log_not_found off; }
    location ~ /\. { deny all; access_log off; log_not_found off; }
    location = /xmlrpc.php { deny all; access_log off; log_not_found off; }
    location = /wp-config.php { deny all; }
    location = /wp-login.php { deny all; }
    location = /wp-comments-posts.php {
        if ($http_referer !~ ^(http://{{ wordpress.host }}) ) {
            return 403;
        }
        proxy_pass http://backend;
    }

    # sitemap plugin
    rewrite ^/sitemap(-+([a-zA-Z0-9_-]+))?\.xml$ "/index.php?xml_sitemap=params=$2" last;
    rewrite ^/sitemap(-+([a-zA-Z0-9_-]+))?\.xml\.gz$ "/index.php?xml_sitemap=params=$2;zip=true" last;
    rewrite ^/sitemap(-+([a-zA-Z0-9_-]+))?\.html$ "/index.php?xml_sitemap=params=$2;html=true" last;
    rewrite ^/sitemap(-+([a-zA-Z0-9_-]+))?\.html.gz$ "/index.php?xml_sitemap=params=$2;html=true;zip=true" last;

    # expire
    location ~ \.(xml|gz)$ { access_log off; expires 1d; }
    location ~ \.(js|css|txt)$ { access_log off; expires 1d; }
    location ~ \.(ico|png|gif|jpg|jpeg)$ { access_log off; expires 1d; }

    # proxy cache
    location ~ \.php$ { proxy_pass http://backend; }

    set $mobile '';
    if ($http_user_agent ~* '(iPad|Android)') {
        set $mobile '@tablet';
    }
    if ($http_user_agent ~* '(iPhone|Android.*Mobile|iPod|Windows.*Phone|dream|CUPCAKE|Blackberry9500|Blackberry9530|Blackberry9520|Blackberry9550|Blackberry9800|webOS|incognito|webmate)') {
        set $mobile '@smartphone';
    }

    location / {
        set $do_not_cache 0;
        if ($http_cookie ~ "wordpress_logged_in_|comment_author_") {
            set $do_not_cache 1;
        }
        if ($request_method = POST) {
            set $do_not_cache 1;
        }

        proxy_no_cache     $do_not_cache;
        proxy_cache_bypass $do_not_cache;
        proxy_redirect     off;
        proxy_cache        wpcache;
        proxy_cache_key    "$scheme://$host$request_uri$mobile";
        proxy_cache_valid  200 302 360m;
        proxy_set_header   X-Forwarded-Proto https;
        proxy_pass         http://backend;
    }
}

server {
    listen unix:/var/run/nginx-backend.sock;
    server_name  {{ wordpress.host }};
    root   /var/www/{{ wordpress.host }};

    access_log  on;
    access_log  /var/log/nginx/{{ wordpress.host }}.backend.access.log backend;
    error_log   /var/log/nginx/{{ wordpress.host }}.backend.error.log warn;

    gzip              off;
    gzip_vary         off;

    location / {
        index  index.php index.html;
        try_files $uri $uri/ /index.php?$args /index.php?q=$uri&$args;
    }

    location ~ \.php$ {
        try_files $uri =404;
        expires        off;
        fastcgi_pass   phpfpm;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi_params;
        fastcgi_param  REMOTE_ADDR      $http_x_real_ip;
        fastcgi_pass_header "X-Accel-Redirect";
        fastcgi_pass_header "X-Accel-Buffering";
        fastcgi_pass_header "X-Accel-Charset";
        fastcgi_pass_header "X-Accel-Expires";
        fastcgi_pass_header "X-Accel-Limit-Rate";
    }
}
